.workExperienceInfo {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .workExperienceInfo h2 {
    text-align: center;
  }
  
  fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  legend {
    padding: 0 10px;
    font-weight: bold;
  }

  .displayWorkExperience{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: space-between;
  }